# Prerequisites
*.d
*.ini

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.exp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/

NOWA_Design/obj/
NOWA_Engine/x64/
bin/Release/CSG.dll
bin/Release/Lua.dll
bin/Release/LuaBind.dll
bin/Release/MeshSplitter.dll
bin/Release/MeshSplitterExec.pdb
bin/Release/MyGuiEngine.dll
bin/Release/Ogre2Platform.dll
bin/Release/OgreProcedural.dll
bin/Release/ParticleUniverse.dll
bin/Release/RakNet_vc9.dll
bin/Release/libs/CSG.lib
bin/Release/libs/FParser.lib
bin/Release/libs/FParser.pdb
bin/Release/libs/Lua.lib
bin/Release/libs/LuaBind.lib
bin/Release/libs/MeshSplitter.lib
bin/Release/libs/MyGuiEngine.lib
bin/Release/libs/NOWA_Engine_RakNet_vc9_Release_x64.pdb
bin/Release/libs/Ogre2Platform.lib
bin/Release/libs/OgreProcedural.lib
bin/Release/libs/ParticleUniverse.lib
bin/Release/libs/RakNet_vc9.lib
bin/Release/libs/terra.lib
bin/Release/libs/terra.pdb
external/CSG/obj/
external/MeshSplitter/obj/
external/MyGUIEngine/Ogre2Platform/obj/
external/MyGUIEngine/obj/
external/OgreAL/OgreAL/obj/
external/OgreNewt3_0/obj/
external/OgreProcedural/obj/
external/OgreRecast/obj/
external/ParticleUniverse/Plugins/ParticleUniverse/scripts/copy_debug.cmd
external/ParticleUniverse/Plugins/ParticleUniverse/scripts/copy_release.cmd
external/ParticleUniverse/Plugins/ParticleUniverse/scripts/obj/
external/fparser4.5.1/FParser/obj/
external/lua-5_2/LuaBind/obj/
external/lua-5_2/obj/
external/terra/obj/
external/tinyxml_2_6_2/obj/
bin/Release/libs/tinyxml.lib
bin/Release/libs/tinyxml.pdb
bin/Release/OgreNewt3_0.dll
bin/Release/libs/OgreNewt3_0.lib



