# Prerequisites
*.d
*.ini

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.exp

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

.vs/

# Log files
*.log

# NOWA specific temp files
external/CSG/obj/
external/MeshSplitter/obj/
external/MyGUIEngine/Ogre2Platform/obj/
external/MyGUIEngine/obj/
external/OgreAL/OgreAL/obj/
external/OgreNewt3_0/obj/
external/OgreProcedural/obj/
external/OgreRecast/obj/
external/ParticleUniverse/Plugins/ParticleUniverse/scripts/copy_debug.cmd
external/ParticleUniverse/Plugins/ParticleUniverse/scripts/copy_release.cmd
external/ParticleUniverse/Plugins/ParticleUniverse/scripts/obj/
external/fparser4.5.1/FParser/obj/
external/lua-5_2/LuaBind/obj/
external/lua-5_2/obj/
external/terra/obj/
external/tinyxml_2_6_2/obj/
NOWA_Design/obj/
NOWA_Engine/x64/
bin/Release/CSG.dll
bin/Release/Lua.dll
bin/Release/LuaBind.dll
bin/Release/MeshSplitter.dll
bin/Release/MeshSplitterExec.pdb
bin/Release/MyGuiEngine.dll
bin/Release/Ogre2Platform.dll
bin/Release/OgreProcedural.dll
bin/Release/ParticleUniverse.dll
bin/Release/RakNet_vc9.dll
bin/Release/libs/CSG.lib
bin/Release/libs/FParser.lib
bin/Release/libs/FParser.pdb
bin/Release/libs/Lua.lib
bin/Release/libs/LuaBind.lib
bin/Release/libs/MeshSplitter.lib
bin/Release/libs/MyGuiEngine.lib
bin/Release/libs/NOWA_Engine_RakNet_vc9_Release_x64.pdb
bin/Release/libs/Ogre2Platform.lib
bin/Release/libs/OgreProcedural.lib
bin/Release/libs/ParticleUniverse.lib
bin/Release/libs/RakNet_vc9.lib
bin/Release/libs/terra.lib
bin/Release/libs/terra.pdb
bin/Release/libs/tinyxml.lib
bin/Release/libs/tinyxml.pdb
bin/Release/OgreNewt3_0.dll
bin/Release/libs/OgreNewt3_0.lib
bin/Release/libs/OgreRecast.lib
bin/Release/OgreRecast.dll
bin/Release/NOWA_Design.lib
bin/Release/NOWA_Design.pdb
bin/Release/NOWA_Engine.dll
bin/Release/NOWA_Engine.pdb
bin/Release/libs/NOWA_Engine.lib
bin/Release/defaultConfig.xml
bin/Release/ogre.cfg
bin/Release/NOWA_Api.lua
bin/Debug/CSG_d.dll
bin/Debug/CSG_d.pdb
bin/Debug/LuaBind_d.dll
bin/Debug/Lua_d.dll
bin/Debug/MeshSplitterExec_d.pdb
bin/Debug/MeshSplitter_d.dll
bin/Debug/MeshSplitter_d.pdb
bin/Debug/MyGuiEngine_d.dll
bin/Debug/MyGuiEngine_d.pdb
bin/Debug/NOWA_Design_d.lib
bin/Debug/NOWA_Design_d.pdb
bin/Debug/NOWA_Engine_d.dll
bin/Debug/NOWA_Engine_d.pdb
bin/Debug/Ogre2Platform_d.pdb
bin/Debug/OgreALVC9_d.dll
bin/Debug/OgreNewt3_0_d.dll
bin/Debug/OgreNewt3_0_d.pdb
bin/Debug/Ogre2Platform_d.dll
bin/Debug/OgreProcedural_d.dll
bin/Debug/OgreProcedural_d.pdb
bin/Debug/OgreRecast_d.dll
bin/Debug/OgreRecast_d.pdb
bin/Debug/ParticleUniverse_d.dll
bin/Debug/ParticleUniverse_d.pdb
bin/Debug/RakNet_vc9_d.dll
bin/Debug/RakNet_vc9_d.pdb
bin/Debug/libs/CSG_d.lib
bin/Debug/libs/FParser_d.idb
bin/Debug/libs/FParser_d.lib
bin/Debug/libs/FParser_d.pdb
bin/Debug/libs/LuaBind_d.lib
bin/Debug/libs/LuaBind_d.pdb
bin/Debug/libs/Lua_d.lib
bin/Debug/libs/Lua_d.pdb
bin/Debug/libs/MeshSplitter_d.lib
bin/Debug/libs/MyGuiEngine_d.lib
bin/Debug/libs/NOWA_Engine_RakNet_vc9_Debug_x64.idb
bin/Debug/libs/NOWA_Engine_RakNet_vc9_Debug_x64.pdb
bin/Debug/libs/NOWA_Engine_d.lib
bin/Debug/libs/Ogre2Platform_d.lib
bin/Debug/libs/OgreALVC9_d.lib
bin/Debug/libs/OgreALVC9_d.pdb
bin/Debug/libs/OgreNewt3_0_d.lib
bin/Debug/libs/OgreProcedural_d.lib
bin/Debug/libs/OgreRecast_d.lib
bin/Debug/libs/ParticleUniverse_d.lib
bin/Debug/libs/RakNet_vc9_d.lib
bin/Debug/libs/terra_d.idb
bin/Debug/libs/terra_d.lib
bin/Debug/libs/terra_d.pdb
bin/Debug/libs/tinyxml.bsc
bin/Debug/libs/tinyxml.pdb
bin/Debug/libs/tinyxml.lib
bin/Debug/NOWA_Api.lua
bin/Debug/ogre.cfg
bin/resources/NOWA_Design_Settings.xml

cache/
NOWA_Engine/plugins/AiLuaGoalComponent/obj/
NOWA_Engine/plugins/AnimationSequenceComponent/obj/
NOWA_Engine/plugins/AreaOfInterestComponent/obj/
NOWA_Engine/plugins/AtmosphereComponent/obj/
NOWA_Engine/plugins/JoystickRemapComponent/obj/
NOWA_Engine/plugins/KeyboardRemapComponent/obj/
NOWA_Engine/plugins/ParticleFxComponent/obj/
NOWA_Engine/plugins/SelectGameObjectsComponent/obj/
NOWA_Engine/plugins/SpeechBubbleComponent/obj/
NOWA_Engine/plugins/VegetationComponent/obj/
bin/Debug/plugins/AiLuaGoalComponent_d.pdb
bin/Debug/plugins/AnimationSequenceComponent_d.pdb
bin/Debug/plugins/AreaOfInterestComponent_d.pdb
bin/Debug/plugins/AtmosphereComponent_d.pdb
bin/Debug/plugins/JoystickRemapComponent_d.pdb
bin/Debug/plugins/KeyboardRemapComponent_d.pdb
bin/Debug/plugins/ParticleFxComponent_d.pdb
bin/Debug/plugins/SelectGameObjectsComponent_d.pdb
bin/Debug/plugins/SpeechBubbleComponent_d.pdb
bin/Debug/plugins/VegetationComponent_d.pdb
bin/Debug/plugins/
bin/Release/plugins/

# Ogre-Next ignore
external/Ogre2.2SDK/.github/
external/Ogre2.2SDK/CMake/
external/Ogre2.2SDK/CMakeLists.txt
external/Ogre2.2SDK/CTestConfig.cmake
external/Ogre2.2SDK/Components/
external/Ogre2.2SDK/Dependencies/
external/Ogre2.2SDK/Docs/
external/Ogre2.2SDK/OgreMain/CMakeLists.txt
external/Ogre2.2SDK/Other/
external/Ogre2.2SDK/PlugIns/CMakeLists.txt
external/Ogre2.2SDK/PlugIns/ParticleFX/CMakeLists.txt
external/Ogre2.2SDK/RenderSystems/
external/Ogre2.2SDK/Samples/
external/Ogre2.2SDK/Scripts/
external/Ogre2.2SDK/Tests/
external/Ogre2.2SDK/Tools/
external/Ogre2.2SDK/VCBuild/
external/newton-dynamics/applications/
external/newton-dynamics/sdk/
		 





