# Defines plugins to load

# Define plugin folder
PluginFolder=.

# Define plugins
 Plugin=RenderSystem_Direct3D11
 Plugin=RenderSystem_GL3Plus
# Plugin=RenderSystem_GLES
# Plugin=RenderSystem_GLES2
# Plugin=RenderSystem_Metal
# Plugin=Plugin_ParticleFX
Plugin=ParticleUniverse
Plugin=plugins/AreaOfInterestComponent
Plugin=plugins/KeyboardRemapComponent
Plugin=plugins/JoystickRemapComponent
Plugin=plugins/AtmosphereComponent
Plugin=plugins/AnimationSequenceComponent
Plugin=plugins/AiLuaGoalComponent
Plugin=plugins/ParticleFxComponent
Plugin=plugins/SpeechBubbleComponent
Plugin=plugins/SelectGameObjectsComponent
Plugin=plugins/VegetationComponent
Plugin=plugins/SSAOComponent
Plugin=plugins/DistortionComponent
Plugin=plugins/AnimationComponentV2
Plugin=plugins/EquipmentComponent
Plugin=plugins/PickerComponent